
<h2> Welcome, {{name}}! </h2>

<h3 class="mt-4 mb-3">My Shopping List</h3>

{{#if drinks.length}}

{{#each drinks as |drink| }}
<div class="col col-md-3 mt-2 d-flex align-items-stretch drink-list">
<div class="card text-center" style="width: 18rem;">
  <img src="{{drink.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{drink.name}}</h5>
    <p class="card-text">{{drink.description}}</p>
    <p class="card-text">${{drink.price}}</p>
    <button  data-id="{{drink.id}}" class="btn btn-outline removeBTN" >Remove from List</button>
  </div>
</div>
</div>
{{/each}}
{{/if}}

<script src="./js/profile.js"></script>